
.carousel {

    align-content: center;
    justify-content: center;
    margin-left: 300px;
    margin-right: 400px;

}

.carousel-inner .carousel-item img {
    height: 500px;
    width: 700px;
}

.card{
    margin-top: 40px;
    width: 310px; 
    height: 345px;
   margin-left:30px;
   border-radius: 5%;


}
.form-check .input,.label{
display: inline;
margin-left: 10px;
border: 2px solid black;

}
    

